.pagination li:hover{
    cursor: pointer;
}
.clickable{
    cursor: pointer;   
}
.panel-heading div {
    margin-top: -18px;
    font-size: 15px;
}
.panel-heading div span{
  margin-left:5px;
}
.panel-body{
  display: none;
}
@keyframes ring {
  5% {
    transform: translateX(-1px);
  }
  
  10% {
    transform: translateX(2px);
  }

  15% {
    transform: translateX(-4px);
  }

  20% {
    transform: translateX(4px);
  }
    
    21%, 100% {
        transform: translateX(0);
    }
}
.filter i {
    animation: ring 1s cubic-bezier(.36,.07,.19,.97) infinite;
    display: block;
    display: block;
}
#name{
  cursor: pointer;
}
#email{
  cursor: pointer;
}
#pic{
  cursor: pointer;
}
#dep{
  cursor: pointer;
}
#selery{
  cursor: pointer;
}



